# Project specific
artifacts/
config_archive/
logs/

# Notebooks
notebooks/archived/
notebooks/temp/

# Python
__pycache__/
*.py[cod]
.coverage
.pytest_cache/
src/dreams_data_science.egg-info/

# Test artifacts
tests/test_config
tests/fixtures/
tests/test_modeling/
tests/test_config/

# System
.DS_Store
.env
.venv/